In [1]:
!ls

Lin_E_data.ipynb Untitled.ipynb

In [2]:
cd ../..

/Users/eddielin/Documents/Flatiron/Projects/Microsoft_movies_project/microsoft_movies

In [5]:
import pandas as pd

In [12]:
!ls data

bom.movie_gross.csv       imdb.title.crew.csv       rt.reviews.tsv
imdb.name.basics.csv      imdb.title.principals.csv tmdb.movies.csv
imdb.title.akas.csv       imdb.title.ratings.csv    tmdb_genre_ids.json
imdb.title.basics.csv     rt.movie_info.tsv         tn.movie_budgets.csv

In [18]:
rtm_df = pd.read_csv('Data/rt.movie_info.tsv' , delimiter ='\t')
rtr_df = pd.read_csv('Data/rt.reviews.tsv', delimiter = '\t', encoding = 'latin-1')

In [21]:
display(rtm_df.head(2))
rtr_df.head(2)

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"