In [1]:
!ls Data

bom.movie_gross.csv       imdb.title.crew.csv       rt.reviews.tsv
imdb.name.basics.csv      imdb.title.principals.csv tmdb.movies.csv
imdb.title.akas.csv       imdb.title.ratings.csv    tn.movie_budgets.csv
imdb.title.basics.csv     rt.movie_info.tsv

In [11]:
import pandas as pd

In [12]:
bom_df= pd.read_csv('data/bom.movie_gross.csv')
imbd_name_df= pd.read_csv('data/imdb.name.basics.csv')
akas_df=pd.read_csv('data/imdb.title.akas.csv')
basics_df= pd.read_csv('data/imdb.title.basics.csv')
crew_df= pd.read_csv('data/imdb.title.crew.csv')
principals_df= pd.read_csv('data/imdb.title.principals.csv')
ratings_df=pd.read_csv('data/imdb.title.ratings.csv')

In [13]:
import string
def remove_punctuations(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text

bom_df["title"] = bom_df['title'].apply(remove_punctuations)
bom_df["title"]= bom_df["title"].str.lower()

In [14]:
akas_df.rename(columns={'title_id':'tconst'}, inplace=True)
akas_df.rename(columns={'title':'title_akas'}, inplace=True)
akas_df["title_akas"] = akas_df['title_akas'].apply(remove_punctuations)
basics_df["primary_title"] = basics_df['primary_title'].apply(remove_punctuations)
akas_df["title_akas"] = akas_df['title_akas'].str.lower()
basics_df["primary_title"]= basics_df['primary_title'].str.lower()

In [15]:
imbd_info_df1= akas_df.merge(basics_df, on = 'tconst', how ='outer')
imbd_info_df1.head()

,tconst,ordering,title_akas,region,language,types,attributes,is_original_title,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0369610,10.0,джурасик свят,BG,bg,NaN,NaN,0.0,jurassic world,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi"
1,tt0369610,11.0,jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0,jurassic world,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi"
2,tt0369610,12.0,jurassic world o mundo dos dinossauros,BR,NaN,imdbDisplay,NaN,0.0,jurassic world,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi"
3,tt0369610,13.0,o mundo dos dinossauros,BR,NaN,NaN,short title,0.0,jurassic world,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi"
4,tt0369610,14.0,jurassic world,FR,NaN,imdbDisplay,NaN,0.0,jurassic world,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi"

In [17]:
imbd_info_df2 = imbd_info_df1.merge(ratings_df, on='tconst',how ='outer')
imbd_info_df2.head()

,tconst,ordering,title_akas,region,language,types,attributes,is_original_title,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0369610,10.0,джурасик свят,BG,bg,NaN,NaN,0.0,jurassic world,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",7.0,539338.0
1,tt0369610,11.0,jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0,jurassic world,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",7.0,539338.0
2,tt0369610,12.0,jurassic world o mundo dos dinossauros,BR,NaN,imdbDisplay,NaN,0.0,jurassic world,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",7.0,539338.0
3,tt0369610,13.0,o mundo dos dinossauros,BR,NaN,NaN,short title,0.0,jurassic world,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",7.0,539338.0
4,tt0369610,14.0,jurassic world,FR,NaN,imdbDisplay,NaN,0.0,jurassic world,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",7.0,539338.0

In [18]:
imbd_info_df3 = imbd_info_df2.merge(bom_df,left_on='primary_title', right_on='title', how ='outer')
imbd_info_df3.head()

,tconst,ordering,title_akas,region,language,types,attributes,is_original_title,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,title,studio,domestic_gross,foreign_gross,year
0,tt0369610,10.0,джурасик свят,BG,bg,NaN,NaN,0.0,jurassic world,Jurassic World,2015.0,124.0,"Action,Adventure,Sci-Fi",7.0,539338.0,jurassic world,Uni.,652300000.0,"1,019.4",2015.0
1,tt0369610,11.0,jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0,jurassic world,Jurassic World,2015.0,124.0,"Action,Adventure,Sci-Fi",7.0,539338.0,jurassic world,Uni.,652300000.0,"1,019.4",2015.0
2,tt0369610,12.0,jurassic world o mundo dos dinossauros,BR,NaN,imdbDisplay,NaN,0.0,jurassic world,Jurassic World,2015.0,124.0,"Action,Adventure,Sci-Fi",7.0,539338.0,jurassic world,Uni.,652300000.0,"1,019.4",2015.0
3,tt0369610,13.0,o mundo dos dinossauros,BR,NaN,NaN,short title,0.0,jurassic world,Jurassic World,2015.0,124.0,"Action,Adventure,Sci-Fi",7.0,539338.0,jurassic world,Uni.,652300000.0,"1,019.4",2015.0
4,tt0369610,14.0,jurassic world,FR,NaN,imdbDisplay,NaN,0.0,jurassic world,Jurassic World,2015.0,124.0,"Action,Adventure,Sci-Fi",7.0,539338.0,jurassic world,Uni.,652300000.0,"1,019.4",2015.0

In [19]:
imbd_cast_df1 = imbd_name_df.merge(principals_df, on='nconst')
imbd_cast_df1.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles,tconst,ordering,category,job,characters
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553",tt2398241,9,producer,producer,NaN
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940",tt0433397,7,composer,NaN,NaN
2,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940",tt1681372,8,composer,NaN,NaN
3,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940",tt2387710,8,composer,NaN,NaN
4,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940",tt2281215,7,composer,NaN,NaN

In [9]:
imbd_cast_df2 = imbd_cast_df1.merge(crew_df, on='tconst')
imbd_cast_df2.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles,tconst,ordering,category,job,characters,directors,writers
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553",tt2398241,9,producer,producer,NaN,nm0038432,"nm1632630,nm0962596,nm0678963"
1,nm0038432,Kelly Asbury,1960.0,NaN,"art_department,animation_department,director","tt0298148,tt0101414,tt0166813,tt0377981",tt2398241,5,director,NaN,NaN,nm0038432,"nm1632630,nm0962596,nm0678963"
2,nm0449549,Jordan Kerner,NaN,NaN,"producer,actor,executive","tt0101921,tt0141369,tt0119190,tt0108333",tt2398241,10,producer,producer,NaN,nm0038432,"nm1632630,nm0962596,nm0678963"
3,nm0962596,Pamela Ribon,1975.0,NaN,"writer,producer,actress","tt0898332,tt3521164,tt5848272,tt2458776",tt2398241,7,writer,written by,NaN,nm0038432,"nm1632630,nm0962596,nm0678963"
4,nm0678963,Peyo,1928.0,1992.0,"writer,director,music_department","tt2017020,tt0081933,tt0074539,tt0472181",tt2398241,8,writer,based on the characters and works of,NaN,nm0038432,"nm1632630,nm0962596,nm0678963"

In [21]:
imbd_info_df3['foreign_gross']= imbd_info_df3['foreign_gross'].astype(str)
imbd_info_df3['foreign_gross'] = imbd_info_df3['foreign_gross'].apply(remove_punctuations)

In [22]:
imbd_info_df3['foreign_gross']= imbd_info_df3['foreign_gross'].astype(float)

genre_dome_df = imbd_info_df3.groupby(['genres']).sum().sort_values(by='domestic_gross', ascending=False)
genre_dome_df.head(15)

,ordering,is_original_title,start_year,runtime_minutes,averagerating,numvotes,domestic_gross,foreign_gross,year
genres,,,,,,,,,
"Action,Adventure,Sci-Fi",42361.0,116.0,5014289.0,304510.0,15814.6,904698293.0,4.391430e+11,6.568616e+11,3558816.0
"Adventure,Animation,Comedy",76355.0,243.0,10087979.0,439524.0,29785.9,348303938.0,3.853506e+11,7.199336e+11,5545463.0
"Action,Adventure,Fantasy",29912.0,98.0,3832118.0,209679.0,10816.6,379772077.0,1.777570e+11,3.488651e+11,2268726.0
"Action,Adventure,Comedy",23189.0,179.0,4400899.0,219023.0,11769.2,246657769.0,1.112007e+11,2.034055e+11,1604504.0
"Action,Adventure,Animation",19802.0,148.0,3554163.0,160967.0,11551.7,131863005.0,1.012923e+11,1.739235e+11,1472267.0
Comedy,66161.0,2768.0,38916395.0,1482674.0,85589.6,149891927.0,7.075274e+10,6.209237e+10,3505916.0
"Action,Crime,Thriller",23689.0,195.0,4545184.0,240720.0,13206.6,159561685.0,7.011396e+10,6.879741e+10,1779975.0
"Action,Adventure,Thriller",10327.0,42.0,1494493.0,79900.0,4229.7,131266889.0,6.490849e+10,1.657689e+11,1002641.0
"Adventure,Family,Fantasy",12619.0,55.0,1708527.0,85768.0,4549.3,102884178.0,6.094860e+10,1.314139e+11,900442.0
"Action,Adventure,Drama",22745.0,164.0,4213188.0,228004.0,11619.4,139084046.0,6.003251e+10,1.249891e+11,2116564.0
"Action,Comedy,Crime",16941.0,166.0,3576614.0,179945.0,10064.9,128294167.0,5.779434e+10,4.718951e+10,1894856.0
"Comedy,Romance",35513.0,722.0,11284630.0,539879.0,30956.3,119989248.0,5.540952e+10,5.313512e+10,2767192.0
"Action,Thriller",16704.0,224.0,4083230.0,211711.0,11156.3,150044248.0,5.270650e+10,8.712410e+10,1361448.0
"Horror,Mystery,Thriller",23279.0,257.0,5153032.0,232250.0,12932.7,108378000.0,5.067229e+10,6.378281e+10,2032383.0
"Comedy,Drama,Romance",46676.0,745.0,13376885.0,660268.0,39086.5,182675061.0,4.697294e+10,4.559687e+10,4962777.0

In [23]:
correlation_dome = imbd_info_df3.corr()['domestic_gross'].sort_values()
correlation_dome

is_original_title   -0.055321
year                 0.009979
start_year           0.055278
averagerating        0.200859
runtime_minutes      0.260283
ordering             0.310141
numvotes             0.693550
foreign_gross        0.799790
domestic_gross       1.000000
Name: domestic_gross, dtype: float64