In [1]:
cd ../..

/Users/iansharff/Documents/flatiron_ds/phase1/microsoft_movies

In [2]:
import ast
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from tools.data_preparation import *

df = clean_tmdb_movies()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45355 entries, 0 to 26516
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          45355 non-null  object
 1   id                 45355 non-null  int64
 2   original_language  45355 non-null  object
 3   original_title     45355 non-null  object
 4   popularity         45355 non-null  float64
 5   release_date       45355 non-null  object
 6   title              45355 non-null  object
 7   vote_average       45355 non-null  float64
 8   vote_count         45355 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 3.5+ MB

## What to add

In [5]:
df.head()

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,Adventure,12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
0,Fantasy,12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
0,Family,12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,Fantasy,10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
1,Adventure,10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610